@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; 
}


.main-nav ul {
  display: flex;
  align-items: center;
}

.main-nav li {
  font-family: serif; 
  font-size: 12px; 
  margin-right: 10px; 
}

.main-nav li:hover {
  color: lightest-gray; 
}

.main-nav .buttons {
  display: flex;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  
}

.main-nav .buttons button {
  
}


.main-nav .gear-icon {
  font-size: 20px; /]
  margin-left: 10px; 

}

.left-nav {

  > ul {
    > li {
      
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    