

.main-nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

html {
	position: relative;
	height: 100%;
}

ul {
	
	display: flex;
	align-items: center;
}

.main-nav li{
	
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.non-blue-buttons{
	padding: 5px;
}

.non-blue-buttons:hover{
	background-color: yellow;
	
}

.fas, .fa-cog {
	font-size: 12px;
}



.right-nav .button{
	background-color: #6A8AA1;
	border-radius: 2px;
	padding: 5px;
	margin: 3px;
}



.right-nav .button:hover {
	background-color: #3e698b;

	
}




header{
	border-bottom: solid 1px lightgrey;
}